<div class="home-header">
    {{#if search}}
        <h1>Você está buscando por: <span>{{search}}</span></h1>
        {{#if toughtsQty}}
            <p>Foram encontrado(s) <span>{{toughtsQty}}</span> pensamento(s)</p>
        {{else}}
            <p>Não foram encontrados pensamentos</p>
        {{/if}}
    {{else}}
        <h1>Conheça algunsdos nossos <span>Pensamentos</span></h1>
    {{/if}}
    <form action="/" method="get">
        {{#if search}}
            <input type="text" name="search" value="{{search}}" placeholder="Está buscando por algo?">
        {{else}}
            <input type="text" name="search" placeholder="Está buscando por algo?">
        {{/if}}
        <input type="submit" value="Buscar">
    </form>
    <div class="order-container">
        <span>Ordernar por:</span>
        <form action="/" method="get">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="new">
            <button type="submit"><i class="fa-solid fa-arrow-up"></i></button>
        </form>
        <form action="/" method="get">
            <input type="hidden" name="search" value="{{this.search}}">
            <input type="hidden" name="order" value="old">
            <button type="submit"><i class="fa-solid fa-arrow-down"></i></button>
        </form>
        <a href="/">Limpar</a>
    </div>
</div>
<div class="toughts-container">
    {{#each toughts}}
        <figure>
            <blockquote>
                "{{this.title}}"
            </blockquote>
            <figcaption>por <span>{{this.User.name}}</span></figcaption>
        </figure>
    {{/each}}
</div>