<h1>Livros</h1>
<div class="books">
    {{#each books}}
        <div class="book">
            <img src="{{this.image}}" alt="{{this.name}}">
            <h2>{{this.name}}</h2>
            <p>R${{this.price}}</p>
            <p>Páginas: {{this.pages}}</p>
            <div class="actions">
                <a href="/books/{{this._id}}">Detalhes</a>
                <a href="/books/edit/{{this._id}}">Editar</a>
            </div>
        </div>
    {{/each}}
</div>